.pushable{
  //border: yellow 3px solid;
  position: relative;
  //top: 60px;
}

#top-menu-scroll-to{
  border: blue 2px solid;
  position: relative;
  top: -70px;
  height: 70px;
  margin: 0 auto;
}

#side-bar{
  display: block;
  position: fixed;
  top: 60px;
  background-color: green($color: green);


  .sidebar-icon{
    font-size: 1.5rem;
    color: #43B3E0;
    &:hover{
      color: yellow;
    }
    
  }

}