.nav-bar{
  padding: 20px;
  //position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #343A40;
  h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    color: white;
    border: blue solid 2px;
    position: relative;
    align-self: flex-start;
  }



}

