<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>Have me make stuff for you.</h2>
            <p>Use the form, or find me at <strong style="color: white;">gsc229@gmail.com</strong></p>
        </header>
        <div class="row">
            <div class="col-12">
                <form method="post" action="https://formspree.io/gsc229@gmail.com" name="contact">
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <input type="text" name="name" id="name" placeholder="Name">
                        </div>
                        <div class="col-6 col-12-small">
                            <input type="email" name="email" id="email" placeholder="Your Email">
                        </div>
                        <div class="col-12">
                            <input type="text" name="subject" id="subject" placeholder="Subject">
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message"></li>
                                <li><input type="reset" value="Clear Form" class="alt"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <hr>
                <h3>Find me on ...</h3>
                <ul class="social">
                    
                    <li><a href="https://www.linkedin.com/in/greg-cameron-90488b30/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://github.com/gsc229" class="icon brands fa-github"><span class="label">Github</span></a></li>
                    
                    
                   
                </ul>
                <hr>
            </div>
        </div>
        <footer>
            <ul id="copyright">
                <li>© Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>
    </div>
</article>