#top-banner{
  width: 100%;
  //border: 2px solid yellow;
  min-height: 400px;
  background-image: url('https://apod.nasa.gov/apod/image/2004/PathNorth_Konang_2500.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position-y: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-x: center;
  @media only screen and (max-width: 800px){
    background-repeat: no-repeat;
    background-size: 800px 400px;
    background-position-y: 20px;
  }
    
  
  #banner-inner-container{
    //border: 2px solid red;
    position: relative;
    padding: 0;
    width: 100% !important;
    height: 90%;
    margin-top: 60px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    //background-color: rgba($color: #000000, $alpha: 0.7);
    //border-radius: 10px;
    //padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* @media only screen and (max-width: 1000px) {
      width: 100%;
      
      
    } */ 
    img{
      border: 1px solid greenyellow;
      height: 15rem;
      width:  15rem;
      margin: 20px;
    }

    
    
    #banner-inner-right{
      width: 100%;
      height: 100%;
      //border-radius: 10px;
      margin: 0 auto;
      //border:hotpink 1px solid;
      background-color: rgba($color: #000000, $alpha: 0.4);
      position: relative;
      .photo-credit{
        //border: 1px solid yellow;
        width: fit-content;
        font-size: 10px;
        position: absolute;
        bottom: 15px;
        left: 5px;
      }

      .header-container{
        //border: 2px solid limegreen;
        width: fit-content;
        max-width: 350px;
        margin: auto;
        position: relative;
        top: 20%;
        @media only screen and (max-width: 350px){
          top: 5%;
        }
        .header{
          color: whitesmoke;
          //border: 2px solid greenyellow;
         
        }
        
        p{
         
          strong:nth-child(1){
             a{
               color: rgb(252, 252, 109);
             }
          }

          strong:nth-child(2){
            a{
              color: rgb(119, 226, 119);
            }
         }
        }

        
      
      }
      color: whitesmoke;
      padding: 30px;

    }
    /* @media only screen and (max-width: 800px) {
      flex-direction: column;
      #banner-inner-right{
        width: 100%;
      }
    } */ 
  }
  
}